h1{
    color: aliceblue;
    background-color: blue;
    border: 2px solid #000;
    border-radius: 5px;
}
button{
    background-color: blue;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 12px 16px;
    border: none;
    outline: none;
    border-radius: 6px;
    text-transform: capitalize;
    cursor: pointer;
    opacity: .8;
}
button:hover{
    opacity: 1;
}